@import '../bower/ubuntu-fontface/ubuntu-base.scss';
@import '../bower/ubuntu-fontface/ubuntu-mono.scss';

html, body {
  width: 100%;
  margin: 0;
  border: 0;
  font-family: "Ubuntu";
}

.desktop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.id-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #9c9c9c;
  padding-top: 200px;
  font-size: 50px;
}

.canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.id {
  font-family: "Ubuntu Mono";
  padding: 10px;
  margin: 10px;
  background-color: rgb(203, 203, 203);
}
