html, body {
  width:100%;
  margin: 0;
  border: 0;
  font-family: "Ubuntu";
  background-color: #9c9c9c;
}

#front {
  margin: auto;
  color: #333;
  padding-top: 2em;
}

h1 {
  position: relative;
  text-align: center;
}

#front{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #333;
  background-color: rgb(232, 44, 157);
}

#front input {
  vertical-align: center;
  width: 50%;
  height: 10%;
  border-radius: 10%;
  outline: none;
}

#back{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#back input {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  background-color: black;
  text-align: center;
  padding-top: center;
  display: block;
}

button{
  padding: 0;
  border: 0px;
  width: 100%;
  height: 20%;
}

.att{
  float: left;
}

.action{
  float: right;
}

#A{
  background-color: #53f442;
}

#B{
  background-color: #cc0e0e;
}

#left, #right, #up{
  background-color: #3a0ecc;
}
