extends layout.pug

block head
  link(
    rel='stylesheet'
    href='/public/dist/desktop.min.css'
  )

block body
  div(class='desktop')
    div(class='canvas')
      canvas(id='canvas')
      div Power Level:
      div(class='scream-volume')
    div(class='id-panel') Desktop ID:
      span(class='id')

block scripts
  if devMode
    script(src='/shared/base.js')
    script(src='/shared/Constants.js')
    script(src='/shared/Util.js')
    script(src='/public/js/desktop/Animation.js')
    script(src='/public/js/desktop/Drawing.js')
    script(src='/public/js/desktop/Game.js')
    script(src='/public/js/desktop/ViewPort.js')
    script(src='/public/js/desktop/desktop.js')
  else
    script(src='/public/dist/desktop.min.js')
