extends layout.pug

block head
  link(
    rel='stylesheet'
    href='/public/dist/desktop.min.css'
  )

block body
  div(class='desktop')
    div(class='canvas')
      canvas
    div(class='id-background') Desktop ID:
      span(class='id')

block scripts
  if devMode
    script(src='/public/js/desktop.js')
  else
    script(src='/public/dist/desktop.min.js')
