extends layout.pug

block head
  link(
    rel='stylesheet'
    href='/public/dist/desktop.min.css'
  )

block body
  div(id='desktop')
    div(id='id')
    div(id='canvas')
      canvas

block scripts
  if devMode
    script(src='/public/js/desktop.js')
  else
    script(src='/public/dist/desktop.min.js')
