extends layout.pug

block head
  link(rel='StyleSheet' href='/public/dist/mobile.min.css')
block body
  div(id='front')
    h1 Enter code
    input(id='connect' type='text' name='codeinput')
  div(id='back')
    input(id='A' type='text' name='Ainput')
    input(id='B' type='text' name='Binput')
    input(id='C' type='text' name='Cinput')
    input(id='D' type='text' name='Dinput')
    input(id='left' type='text' name='LEFTinput')
    input(id='right' type='text' name='RIGHTinput')
    input(id='up' type='text' name='UPinput')
    input(id='down' type='text' name='DOWNinput')

block scripts
  if devMode
    script(src='/public/js/mobile/mobile.js')
