extends layout.pug

block head
  link(rel='stylesheet' href='/public/dist/mobile.min.css')
block body
  div(id='back')
    button(id='up' class='action') UP
    button(id='right' class='action') RIGHT
    button(id='left' class='action') LEFT
  div(id='front')
    h1 Enter code
    input(id='connect' type='text')


block scripts
  if devMode
    script(src='/public/js/mobile/InputHandler.js')
    script(src='/public/js/mobile/mobile.js')
  else
    script(src='/public/dist/mobile.min.js')
